$sky: #5fc4bc;
$search: #007e7a;
* {
    box-sizing: border-box;
}
body {
    background-color: $search;
    font-family: 'Montserrat', sans-serif;
}
#logo {
    width: 100%;
    padding: 2em;
    background-color: $sky;
}

#container-two {
  display:none;
}

#search {
    padding: 2em;
    background-color: $search;
}
.title {
    display: table;
    width: 100%;
    margin-bottom: 0.5em;
    color: #fff;
    font-size: 1.3em;
}
#from {
    display: inline-table;
    width: 50%;
}
#to {
    display: inline-table;
    width: 50%;
}
#date {
    display: inline-table;
    width: 100%;
    text-align: left;
}
form {
    input[type="text"] {
        background-color: #fff;
        width: 49%;
        padding: 0.5em;
        margin-bottom: 2em;
        font-size: 0.95em;
        color: #000;
        font-weight: bold;
        text-decoration: none;
        border: none;
        &::-webkit-input-placeholder {
            color: #a6a6a6;
        }
        &:-moz-placeholder {
            /* Firefox 18- */
            color: #a6a6a6;
        }
        &::-moz-placeholder {
            /* Firefox 19+ */
            color: #a6a6a6;
        }
        &::-ms-input-placeholder {
            color: #a6a6a6;
        }
    }
    input[type="button"] {
        background-color: #ffdc22;
        width: 49%;
        padding: 0.5em;
        margin-bottom: 2em;
        font-size: 0.95em;
        color: #000;
        font-weight: bold;
        text-decoration: none;
        border: none;
        &:hover,&:active{
          background-color: #ffbb22;
        }
    }
    #datepicker {
        background-color: #fff;
        padding: 0.5em;
        font-size: 0.95em;
        color: #000;
        font-weight: bold;
        text-decoration: none;
        border: none;
        width: 49%;
        &::-webkit-input-placeholder {
            color: #a6a6a6;
        }
        &:-moz-placeholder {
            /* Firefox 18- */
            color: #a6a6a6;
        }
        &::-moz-placeholder {
            /* Firefox 19+ */
            color: #a6a6a6;
        }
        &::-ms-input-placeholder {
            color: #a6a6a6;
        }
    }
}
