$sky: #5fc4bc;
$search: #007e7a;
* {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}
#container {
    // display: none;
    background-color: $search;
}
#logo {
    width: 100%;
    margin:auto;
    background-color: $sky;
    text-align:center;
    object {
      width:90%;
      margin:0.3em auto 0.3em auto;
    }
}
#search {
  position:relative;
  bottom:0;
    background-color: $search;
}
.half {
  width: 40%;
  display:inline-table;
  vertical-align: top;
}
.row {
  padding:2em 2em 0 2em;
  margin-bottom: -2em;
}
.title {
    margin-bottom: 0.5em;
    color: #fff;
    font-size: 1.3em;
}
#from {
    display: inline-table;
    width: 50%;
}
#to {
    display: inline-table;
    width: 50%;
}
#date {
    display: inline-table;
    width: 50%;
    text-align: left;
}
form {
    input[type="text"] {
        background-color: #fff;
        padding: 0.5em;
        margin-bottom: 2em;
        font-size: 0.95em;
        color: #000;
        font-weight: bold;
        text-decoration: none;
        border: none;

        &::-webkit-input-placeholder {
            color: #a6a6a6;
        }
        &:-moz-placeholder {
            /* Firefox 18- */
            color: #a6a6a6;
        }
        &::-moz-placeholder {
            /* Firefox 19+ */
            color: #a6a6a6;
        }
        &::-ms-input-placeholder {
            color: #a6a6a6;
        }
    }
    input[type="button"] {
        background-color: #ffdc22;
        width: 100%;
        padding: 1em;
        margin-top:4em;
        font-size: 1.2em;
        text-transform:uppercase;
        color: #000;
        font-weight: bold;
        text-decoration: none;
        border: none;
        &:active,
        &:hover {
            background-color: #ffbb22;
        }
    }
    #datepicker {
        background-color: #fff;
        padding: 0.5em;
        font-size: 0.95em;
        color: #000;
        font-weight: bold;
        text-decoration: none;
        border: none;
        &::-webkit-input-placeholder {
            color: #a6a6a6;
        }
        &:-moz-placeholder {
            /* Firefox 18- */
            color: #a6a6a6;
        }
        &::-moz-placeholder {
            /* Firefox 19+ */
            color: #a6a6a6;
        }
        &::-ms-input-placeholder {
            color: #a6a6a6;
        }
    }
}
//////////////////////////////////
#back {
  display:relative;
}
#container-two {
    display:none;
    background-color: $sky;
}
#searchHeader {
  padding:2em;
  background-color:#fff;
  #dateInfo {
      display: table;
      margin:auto;
      font-size:1.2em;
      color: #206aa7;
  }
  #location {
    color: #000;
      display: table;
      margin:auto;
      font-size: 1.8em;
  }
}

.wrapper {
  img {
    padding: 2em;
    max-width: 100%;
    margin: auto;
  }
  #alert {
    background-color:#f24122;
    margin-top:-2em;
    p{
      padding:1em;
      color:#fff;
      font-weight:100;
      text-align:center;
    }
  }
  .weekWeather {
    background-color: $search;
    margin-top:-1em;
    padding:2em;
  }
}
