<!DOCTYPE html>
<html lang="en">

    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>CheckFly</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/normalize.css">

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="/static/autocomplete/teleport-autocomplete.js"></script>
    <script>
        $(document).ready(function() {
            $("#datepicker").datepicker();
            $("#submit").click(function() {
                $("#container").toggle();
                $("#container-two").toggle();

            });
            $("#back").click(function() {
                $("#container").toggle();
                $("#container-two").toggle();

            });


            var $results = document.querySelector('.results');
            var appendToResult = $results.insertAdjacentHTML.bind($results, 'afterend');

            TeleportAutocomplete.init('.from').on('change', function(value) {
              appendToResult('<pre>' + JSON.stringify(value, null, 2) + '</pre>');

            });

        });
    </script>
</head>

<body>
    <div id="container">
        <div id="logo">
            <object type="image/svg+xml" data="/static/img/checkfly.svg" class="logo">
                <img src="/static/img/checkfly.svg" alt="FlightCheck Logo"/>
            </object>
        </div>
        <div id="search">
            <form id="searching">
                <div class="title">
                    <div id="from">From:</div>
                    <div id="to">To:</div>
                </div>

                <input class="from" type="text" name="field" tabindex="1" autocomplete="off" placeholder="enter city">
                <input type="text" name="to" placeholder="enter city">
                <div class="title">
                    <div id="date">Date:</div>
                </div>
                <input id="datepicker" name="data" placeholder="choose date"/>
                <input type="button" id="submit" value="Search"/>
            </form>
            <div class="results"></div>

        </div>
    </div>
    <div id="container-two">
        <div id="searchHeader">
            <div id="back">
                <button><-</button>
            </div>
            <div id="dateInfo">Jan. 3rd, 2016</div>
            <div id="location">New York, NY</div>
        </div>
        <div class="wrapper">
            <img src="https://www.almanac.com/sites/default/files/d6/us_weathermaps13-summer-cmyk.jpg" alt="add interactive map"/>
            <div id="alert">
                <p>
                    Wildfires in Manhattan
                </p>
            </div>
            <div class="weekWeather">
                <iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="http://forecast.io/embed/#lat=42.3583&lon=-71.0603&name=Downtown Boston"></iframe>
            </div>
        </div>
    </div>


</body>

</html>
